* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme='light'] {
  color-scheme: light;

  --bg-color: #fff;
  --text-color: #000;
}

[data-theme='dark'] {
  color-scheme: dark;

  --bg-color: #1a1a1a;
  --text-color: #fff;
}
